.header{
    background-color: rgb(166, 166, 241);
    border-radius: 15px;
}
.fontheader{
            background-color: rgb(209, 245, 245);
            height: 150px;
            padding: 40px;
            padding-top: 10px;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            border-radius: 40px;
        }
        .right-img{
            float: right;
            margin-bottom: 50%;
            height: 160px;
            width: 120px;
            border-radius: 30px;
        }
        .secondheader{
            text-align: center;
            background-color: antiquewhite;
            height: 230px;
            padding-bottom: 4px;
            padding-left: 30px;
            border-radius: 40px;
        }
        .thirdheader{
            background-color: rgb(221, 238, 232);
            height: 230px;
            border-radius: 40px;
            padding-left: 30px;
        }
        .fourthheader{
            background-color: #c1c7c5;
            height: 500px;
            border-radius: 40px;
            padding-left: 30px;
        }
        .contact{
            background-color: beige;
            height: auto;
        }
        .click{
            background-color: rgb(129, 238, 238);
            border-radius: 40px;
            padding-left: 30px;
            margin-right: 1200px;
        }



